.navContainer{
    background: ghostwhite;
    border-bottom:1px solid rgb(224, 224, 226);
    -webkit-box-shadow: -1px 0px 40px 0px rgba(166,166,166,1);
    -moz-box-shadow: -1px 0px 40px 0px rgba(166,166,166,1);
    box-shadow: -1px 0px 40px 0px rgba(166,166,166,1);
    position: sticky;
    top:0;
    left:0;
    z-index:2000;
    padding:5px 0;
}
.nav{
    position: relative;
    width:90%;
    max-width: 100%;
    height:4rem;
    margin:auto auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.item1{
    margin-right:3.5rem;
    font-weight: 600;
    position: relative;
}
.downIcon{
    position: absolute;
    top:80%;
    transform: translateY(-80%);
    font-size: 13px;
}
.navItem{
    display: flex;
    align-items: center;
    margin-left:3rem;
}
.course{
    margin-right:3.5rem;
    font-weight: 600;
}
.nav.sticky{
    background: red;
}
.search{
    display:flex;
    align-items: center;
    justify-content: center;
    width:20rem;
    border:1px solid #3f4453;
    padding:8px 0;
    border-radius:7px;
}
.login{
    display:flex;
    align-items: center;
    width:10rem;
}
.input{
    font-size:16px;
    border:none;
    width:80%;
    background: ghostwhite;
}
.input:focus{
    outline:none;
}
.searchIcon{
    margin-right:18px;
}
.logo{
    width:10rem;
}
.signinsignup {

    display: flex;
    width:10rem;
}

.login {
    background: none;
    outline: none;
    border: none;
    font-size: 15px;
    margin-right: .5rem;
    cursor: pointer;
    flex: 1;
    font-weight: 500;
}

.signUp {
    flex: 1;
    padding: 5px 15px;
    background: #e41749;
    border: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
    font-weight: 600;
}
.signUp:hover{
    background: #d3454f;
}
// @media only screen and (max-width: 1300px) {
//    .nav{
//        width:950px;
//    }
// }
// @media only screen and (max-width: 1040px) {
//     .nav{
//         width:900px;
//     }
//     .adamsacademyLogo{
//         width:8rem;
//     }
//  }
//  @media only screen and (max-width: 970px) {
//     .nav{
//         width:700px;
//     }
//     .courses{
//         font-size: 15px;
//     }
//     .fontawesome{
//         font-size:12px;
//         margin-left:15px;
//     }

//  }
//  @media only screen and (max-width:750px) {
//     .nav{
//         width:600px;
//     }
//  }

@media only screen and (max-width:1360px) {
    .navItem>span{
        margin-right:2rem;
    }
 }

 @media only screen and (max-width:1370px) {
    .nav{
        justify-content: center;
    }
    .search{
        margin-left:3rem;
    }
    .navItem{
        display: none;
    }
    .signinsignup {
        display: none;
    }
 }
 @media only screen and (max-width:765px) {

    .search{
        width:16rem;
    }

 }


